body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  display: none;
}

.navbar button {
  margin: 35px 41px 20px 0;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0.0001px;
  background-color: #fff;
  width: 100%;
  height: 90%;
}

.nav-menu button {
  align-self: flex-end;
  margin: 35px 41px 20px 0;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-menu li {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 40px;
}

.nav-menu a {
  text-decoration: none;
  color: #3a4a42;
}

.presentation {
  background-image: url(imgs-p/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.presentation h1,
h2,
h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  line-height: 52px;
  margin: 0;
}

.presentation h1 {
  padding-top: 63px;
}

.presentation h3 {
  color: #1e488f;
}

.presentation p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin: 15px 27px 23px 27px;
  color: #172b4d;
}

.logos ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.logos img {
  margin-right: 20px;
}

.pres-footer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.works-section {
  display: flex;
  flex-direction: column;
}

.works-section h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 63px 28px 24px 26px;
  color: #172b4d;
}

.line {
  align-self: center;
  margin-bottom: 62px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 86%;
  margin: 0 7% 0 7%;
}

.card img {
  width: 100%;
}

.text-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  width: 99.5%;
  border: 1px solid #d0d9d4;
}

.text-container h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 16px;
}

.text-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  gap: 8px;
}

.about-me-card li {
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  margin: 0 8px 8px 0;
}

.text-container li {
  background-color: #ebf0ee;
  padding: 8px 12px 8px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.text-container button {
  margin: 21px 0 24px 0;
  width: 122px;
  height: 48px;
  background-color: #1e488f;
  border-radius: 4px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.about-main {
  background-image: url(imgs-p/about-me-1.png), url(imgs-p/about-me-2.png);
  background-repeat: no-repeat;
  background-position: top 0 right 0, bottom 0 left 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-main h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 68px 0 0 0;
}

.about-main p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin: 24px 18px 24px 12px;
  color: #42526e;
}

.about-main button,
.contact-form button {
  width: 153px;
  height: 48px;
  background-color: #1e488f;
  border-radius: 4px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.contact-form button {
  align-self: center;
}

.about-main button:hover,
.contact-form button:hover {
  box-shadow: 0 5px 15px rgba(30, 72, 143, 0.24);
  border: 1px solid #1e488f;
  background-color: #fff;
  color: #1e488f;
}

.about-main button:active {
  background-color: #0a2759;
}

.text-container button:hover {
  box-shadow: 0 5px 15px rgba(30, 72, 143, 0.24);
  border: 1px solid #1e488f;
  background-color: #fff;
  color: #1e488f;
}

.text-container button:active {
  background-color: #0a2759;
}

.about-me-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 59px;
  gap: 24px;
  padding: 0;
}

.about-me-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebf0ee;
  width: 327px;
  border-radius: 8px;
}

.about-me-card img {
  margin-top: 40px;
}

.about-me-card h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin: 0;
}

.about-me-card ul {
  list-style: none;
  margin: 24px 0 24px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #1e488f;
}

.bottom {
  background-image: url(imgs-p/illustration-contact-form.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 65px;
}

.contact-form h2 {
  margin: 54px 30px 0 24px;
}

.contact-form form {
  margin: 0 30px 0 24px;
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-form input,
.contact-form textarea {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #d0d9d4;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  margin-bottom: 45px;
}

.footer a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  color: #42526e;
  margin-bottom: 29px;
}

/* popup window */

.popup-main {
  background-color: #c1c7d0dc;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  margin: 20px 16px 26px 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px 16px 20px 16px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.close-button-desktop {
  display: none;
}

.close-button {
  align-self: flex-end;
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  margin: 21px;
  cursor: pointer;
}

.close-button:hover {
  transform: scale(1.2);
}

.popup h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.popup ul {
  list-style: none;
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
}

.popup li {
  background-color: #ebf0ee;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 8px;
  color: #3a4a42;
}

.popup p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.buttons {
  display: flex;
  gap: 18px;
}

.two {
  display: none;
}

.buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  background-color: #1e488f;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.buttons a:hover {
  box-shadow: 0 5px 15px rgba(30, 72, 143, 0.24);
  border: 1px solid #1e488f;
  background-color: #fff;
  color: #1e488f;
}

.buttons a:active {
  background-color: #0a2759;
}

.buttons a img {
  width: auto;
  padding-left: 14px;
}

.navbar button:hover {
  transform: scale(1.2);
}

.nav-menu button:hover {
  transform: scale(1.2);
}

.nav-menu a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  * {
    font-family: 'Inter', sans-serif;
  }

  .header {
    background-image: url(imgs-p/option2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top 0;
    padding-bottom: 395px;
  }

  .navbar {
    justify-content: center;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .navbar img {
    display: none;
  }

  .navbar a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #172b4d;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
  }

  .presentation {
    background-image: none;
  }

  .presentation h1,
  h2 {
    padding: 170px 10px 10px 0;
  }

  .presentation h1,
  h2,
  h3 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 800;
  }

  .titles {
    display: flex;
    justify-content: center;
  }

  .presentation p {
    margin: 24px 25% 34px 25%;
  }

  .works-section {
    margin: 0 8% 0 8%;
  }

  .works-section h2 {
    padding: 100px 0 52px 0;
    margin: 0;
  }

  .line {
    display: none;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 32px;
    grid-column-gap: 24px;
  }

  .text-container h2 {
    padding: 0;
    margin: 16px;
  }

  .about-main {
    background-image: none;
    background-image: url(imgs-p/illustration-about-me-desktop.png), url(imgs-p/illustration-about-me-2-desktop.png);
    background-size: contain, inherit;
    background-repeat: no-repeat;
    background-position: top 89px right 0, bottom 15px left 0;
  }

  .about-main h2 {
    padding: 192px 0 0 0;
    margin: 0;
  }

  .about-main p {
    margin: 24px 25% 34px 25%;
  }

  .about-me-cards {
    margin: 70px 0 0 0;
    flex-direction: row;
  }

  .about-me-card {
    height: 336px;
    justify-content: flex-start;
  }

  .about-me-card h2 {
    padding: 0;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    background-image: url(imgs-p/illustration-1-contact-form-desktop.png), url(imgs-p/illustration-2-contact-form-desktop@2x.png), url(imgs-p/contact\ form-illustratoin-3-desktop.png);
    background-position: left 0 bottom 85px, left 280px bottom 175px, right 0 bottom 93px;
  }

  .contact-form {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 98px;
    width: 62%;
    padding-bottom: 238px;
  }

  .contact-form h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    width: 40%;
  }

  .contact-form form {
    margin: 0;
    width: 60%;
  }

  .contact-form button {
    align-self: flex-start;
  }

  .footer {
    border-top: solid 1px #dfe1e6;
    margin: 0;
    width: 100%;
  }

  .email {
    display: none;
  }

  .popup-main {
    width: 100%;
    height: 100%;
  }

  .popup {
    width: 80%;
    height: 80%;
  }

  .close-button {
    display: none;
  }

  .close-button-desktop {
    display: block;
    align-self: flex-end;
    background: none;
    border: none;
    padding: 0;
  }

  .close-button-desktop:hover {
    transform: scale(1.1);
  }

  .popup-img {
    width: 100%;
    min-height: 40%;
  }

  .cont-row {
    display: flex;
  }

  .popup h1 {
    width: 50%;
    font-weight: 700;
  }

  .buttons {
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 27px;
    width: 50%;
    flex-wrap: wrap;
  }

  .buttons a {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .two {
    display: flex;
  }

  .one {
    display: none;
  }

  .navbar a:hover {
    transform: scale(1.2);
    background-color: #172b4d;
    color: #fff;
    border-radius: 15px;
  }
}
